.form {
  @include flex;

  flex-direction: column;
  gap: 20px;

  &__content {
    @include flex;

    flex-direction: column;
    gap: 10px;
  }

  &__input-wrapper {
    position: relative;

    &::before {
      @include bg-cover;

      content: "";
      position: absolute;
      left: 20px;
      top: 16px;
      width: 24px;
      height: 24px;
      pointer-events: none;
    }

    &--not-padding {
      &::before {
        display: none;
      }

      input,
      textarea {
        padding-left: 20px;
      }
    }

    @for $i from 1 through 5 {
      &--#{$i} {
        &::before {
          background-image: url("../img/modal/modal-icon-#{$i}.svg");
        }
      }
    }
  }

  &__input {
    display: block;
    border: 1px solid var(--dark-color);
    border-radius: 15px;
    padding: 18px 20px;
    padding-left: 54px;
    width: 100%;

    &.input_error {
      border-color: red;
    }

    &--code {
      border: none;
      padding-left: 20px;
      text-align: center;

      &:focus {
        outline: none;
      }
    }

    &--textarea {
      width: 100%;
      height: 120px;
      resize: none;
    }
  }

  &__text-wrapper {
    @include flex-all-sb;

    gap: 15px;
  }

  &__warning-text {
    font-weight: 500;
    font-size: 13px;
    color: var(--dark-color);
    opacity: 0.5;

    a {
      text-decoration: underline;
      color: currentcolor;
    }
  }

  &__label,
  &__content-btn {
    font-weight: 400;
    font-size: 15px;
    color: var(--grey-color);
  }

  &__input,
  &__input::placeholder {
    font-weight: 400;
    font-size: 15px;
    color: var(--dark-color);
  }

  &__input--code,
  &__input--code::placeholder {
    font-size: 30px;
  }
}
