.graph-modal {
  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__close {
    @include bg-cover;

    position: static;
    width: 24px;
    height: 24px;
    background-image: url("../img/modal/modal-close.svg");
  }

  &__title-wrapper {
    @include flex-all-sb;

    margin-bottom: 30px;
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #111;
  }

  &__container {
    overflow: hidden;
    padding: 40px;
    width: 100%;
    min-width: 300px;
    max-width: 450px;
    box-shadow: 0 4px 150px rgba(17 17 17 / 50%);

    &--using {
      max-width: 600px;
    }
  }

  &__descr {
    line-height: 20px;

    &--bold {
      font-weight: 500;
    }
  }
}
