<footer class="footer">
  <a class="btn-reset btn btn--dark footer__btn" href="using.html">Как пользоваться сайтом</a>
  <a class="btn-reset btn btn--dark footer__btn" href="policy.html">Политика конфиденциальности</a>
  <ul class="list-reset social" title="Связаться с разработчиком сайта">
    <li class="social__item"><a class="social__link social__link--tg" href="https://t.me/IPMARIN_Admin" target="_blank" aria-label="Телеграм"></a></li>
    <li class="social__item"><a class="social__link social__link--vk" href="https://vk.com/maxxutko" target="_blank" aria-label="Вконтакте"></a></li>
  </ul>
</footer>
