<footer class="footer">
  <button class="btn-reset btn btn--dark footer__btn" data-graph-path="using-website">Как пользоваться сайтом</button>
  <a class="btn-reset btn btn--dark footer__btn" href="policy.html">Политика конфиденциальности</a>
  <ul class="list-reset social" title="Связаться с разработчиком сайта">
    <li class="social__item"><a class="social__link social__link--tg" href="https://t.me/youth_is_burning" target="_blank" aria-label="Телеграм"></a></li>
    <li class="social__item"><a class="social__link social__link--vk" href="https://vk.com/youth_is_burning" target="_blank" aria-label="Вконтакте"></a></li>
  </ul>
</footer>
