<footer class="footer">
  <button class="btn-reset btn btn--dark footer__btn" data-graph-path="rules...">Правила сайта</button>
  <button class="btn-reset btn btn--dark footer__btn" data-graph-path="politics...">Политика конфиденциальности</button>
  <ul class="list-reset social" title="Связаться с разработчиком сайта">
    <li class="social__item"><a class="social__link social__link--tg" href="https://t.me/IPMARIN_Admin" target="_blank" aria-label="Телеграм"></a></li>
    <li class="social__item"><a class="social__link social__link--vk" href="https://vk.com/maxxutko" target="_blank" aria-label="Вконтакте"></a></li>
  </ul>
</footer>
