<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.svg" type="image/svg+xml">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>JOBY</title>
  <link rel="preload" href="fonts/Rubik-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Rubik-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src='https://www.google.com/recaptcha/api.js'></script>
  <script defer src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=138b5893-816c-485b-b328-ae5b760ba804&suggest_apikey=d72e0f21-b4f0-42e2-8998-489b07bb61f2">
  </script>
  <script defer src="js/main.js"></script>
</head>
