<header class="header">
  <nav class="nav" title="Главная навигация сайта">
    <div class="header__sub">
      <div class="container header__sub-content" data-content>
        <div class="header__sub-wrapper">
          <button class="btn-reset btn header__sub-btn" data-graph-path="btn-sign-in">Вход</button>
          <button class="btn-reset btn header__sub-btn" data-graph-path="btn-sign-up">Регистрация</button>
        </div>

        <!-- <div class="header__sub-wrapper">
          <div class="header__user">Someuserlogin</div>
          <button class="btn-reset btn header__sub-btn" data-graph-path="quit...">Выход</button>
        </div> -->

        <button class="btn-reset btn btn--animation--head-shake header__sub-btn" data-graph-path="btn-sign-in">Разместить заказ</button>
      </div>
    </div>
  </nav>
  <div class="header__main">
    <div class="container header__main-content">
      <a class="header__main-logo">
        <img loading="lazy" src="img/logo.svg" width="173" height="57" alt="Логотип проекта JOBY">
      </a>
      <button class="btn-reset btn header__main-btn" data-graph-path="category...">Категории</button>
    </div>
  </div>
</header>
