@media (hover: hover) and (pointer: fine) {
  .btn {
    &:hover {
      color: var(--light-color);
      background-color: var(--dark-color);
      transform: translateY(-3px);
    }

    &--animation--head-shake {
      &:hover {
        transform: none;
      }
    }
  }

  .social {
    &__link {
      &:hover {
        transform: translateY(-3px);
      }
    }
  }
}
